* {
  scroll-behavior: smooth;
}

body::selection {
  background-color: rgb(173,171,171);
  color: white;
}

section::selection {
  background-color: rgb(173,171,171);
  color: #061923;
}

.contain {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

@media (max-width: 590px) {
  .contain {
    height: 100vh;
  }
}

section {
  height: 100vh;
  scroll-snap-align: start;
  color: white;
}

.contain-home-text {
  height: 75vh;
}

.one {
  background-color: #061923;
}

.two {
  background-color: #061923;
}

.three {
  background-color: #061923;
}

.four {
  background-color: #061923;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.nav-li {
  margin-left: 35px;
}

@media (min-width: 768px) {
  .nav-li {
    margin-left: 13px;
  }
}

.ico-nav {
  font-size: 12px;
}

.nav-li:hover {
  text-shadow: 2px 2px 4px rgba(255,255,255,0.73);
}

.btn-color {
  color: white;
  border-width: 2px;
  border-color: #2a9d8f;
}

.btn-color:hover {
  background-color: #061923;
  color: white;
  border-color: var(--bs-border-color-translucent);
  box-shadow: -1px 0px 13px 3px #2a9d8f;
}

.row-home-text {
  padding-top: 15px;
}

.contain-home-text {
  padding-top: 66px;
}

@media (max-width: 598px) {
  .contain-home-text {
    padding-top: 35px;
  }
}

.name-col {
  background: linear-gradient(90deg, #28abe1 15%, #ff729f 50%, #f18f01 85%);
  background-clip: text;
  color: transparent;
}

.imgbox {
  position: relative;
  width: 50%;
  height: 100%;
}

/* Mobile Profile */

@media (max-width: 576px) {
  .imgbox .img-bg {
    position: relative;
    height: 100%;
    width: 300px;
    top: 10px;
    left: 25px;
    transform: rotatey(180deg);
    animation: animater2 4s linear infinite;
    z-index: 1;
  }
}

@media (min-width: 1400px) {
  .imgbox .img-bg {
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    top: -120px;
    left: 50px;
    transform: rotatey(180deg);
    animation: animater 4s linear infinite;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .imgbox .img-bg {
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    top: -120px;
    left: 50px;
    transform: rotatey(180deg);
    animation: animater 4s linear infinite;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .imgbox .img-bg {
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    top: -120px;
    left: 50px;
    transform: rotatey(180deg);
    animation: animater 4s linear infinite;
    z-index: 1;
  }
}

@media (min-width: 1920px) {
  .imgbox .img-bg {
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    top: -80px;
    left: 50px;
    transform: rotatey(180deg);
    animation: animater 4s linear infinite;
    z-index: 1;
  }
}

@keyframes animater {
  50% {
    right: 30px;
    top: -90px;
  }
}

/* Mobile Splash */

@media (max-width: 576px) {
  .img-bg2 {
    position: absolute;
    width: 280px;
    left: 40px;
    top: 99px;
    z-index: 0;
    animation: animates 4s linear infinite;
  }
}

@media (min-width: 1200px) {
  .img-bg2 {
    position: absolute;
    width: 600px;
    left: -30px;
    top: -91px;
    z-index: 0;
    animation: animates 4s linear infinite;
  }
}

@keyframes animates {
  50% {
    right: 5px;
    left: 5px;
  }
}

.row-home-text {
  display: flex;
  flex-direction: row;
}

.btn-color.btn-res {
  margin-left: 25px;
}

@media (max-width: 992px) {
  .text-head {
    font-size: 39px;
  }
}

@media (max-width: 592px) {
  .text-head {
    font-size: 28px;
  }
}

.contain-abt {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.abt-me-text {
  font-size: 58px;
  padding-top: 25px;
  background: linear-gradient(90deg, #28abe1 15%, #ff729f 50%, #f18f01 85%);
  background-clip: text;
  color: transparent;
}

.abt-me-text:hover {
  text-shadow: 0px 0px 20px rgba(255,255,255,0.36);
}

.para-abt-text {
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 590px) {
  .para-abt-text {
    font-weight: 500;
    font-size: 13px;
    text-align: justify;
  }
}

.para-edu2 {
  font-weight: 500;
  color: white;
}

.para-edu3 {
  width: inherit;
  color: #2a9d8f;
  margin-right: 10px;
}

.para-edu {
  width: inherit;
  color: #2a9d8f;
  margin-right: 10px;
}

.div-edu {
  display: flex;
  flex-direction: row;
}

.title-edu-eg {
  font-size: 35px;
}

@media (max-width: 590px) {
  .title-edu-eg {
    font-size: 28px;
  }
}

.edu-list {
  margin-top: 12px;
  margin-bottom: 8px;
  background: linear-gradient(90deg, #28abe1 15%, #ff729f 50%, #f18f01 85%);
  background-clip: text;
  color: transparent;
}

.edu-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

@media (max-width: 590px) {
  .btn-res {
    font-size: 16px;
  }
}

@media (min-width: 720px) {
  .btn-res {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .nav-white {
    background-color: var(--bs-teal);
  }
}

@media (max-width: 598px) {
  .img-abt {
    display: none;
  }
}

.col-abt {
  margin-top: 50px;
}

@media (max-width: 576px) {
  .nav-colb-mob {
    display: flex;
    flex-direction: column;
  }
}

.img-abt {
  display: flex;
}

.contai-abt-me {
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .contai-abt-me {
    display: block;
    margin: 5px;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .img-abt2 {
    display: none;
  }
}

.contain-skill {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.heading-skill {
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
  padding-bottom: 20px;
}

.skill-head {
  background: linear-gradient(90deg, #28abe1 15%, #ff729f 50%, #f18f01 85%);
  background-clip: text;
  color: transparent;
  font-size: 58px;
}

.contents {
  padding: 0 20px;
  border-left: 2px solid #f18f01;
}

@media (max-width: 590px) {
  .contents {
    margin-left: 20px;
    padding: 0 20px;
    border-left: 2px solid #f18f01;
  }
}

.contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #454a4d;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 15px;
  transition: 1.1s;
}

.contents .box:hover {
  box-shadow: 0px 3px 12px 0px #2a9d8f;
  border: 1px solid white;
  transform: scale(1.01);
}

.contents .box::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 15px);
  top: -2px;
  background-color: #2a9d8f;
  border: 2px solid white;
}

.para-skill {
  font-size: 15px;
  text-align: left;
}

.head-skill {
  text-align: left;
  font-size: 32px;
}

.name-skill {
  color: #2a9d8f;
}

.skill-bar {
  height: 60%;
}

.contain-pro {
  width: 100%;
}

@media (max-width: 576px) {
  .contain-pro {
    padding-top: 50px;
    height: 100%;
  }
}

.pro-head {
  background: linear-gradient(90deg, #28abe1 15%, #ff729f 50%, #f18f01 85%);
  background-clip: text;
  color: transparent;
  font-size: 58px;
  text-align: center;
}

.para-pro {
  font-size: 30px;
  text-align: center;
  color: #454a4d;
}

.card-pro img {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-pro {
  margin-top: 10px;
}

.center-text-pro {
  text-align: center;
  padding-bottom: 5px;
}

.card-pro-box {
  border: 1px solid #454a4d;
  cursor: default;
  transition: 1s;
}

.card-pro-box:hover {
  box-shadow: 0px 3px 12px 0px #2a9d8f;
  border: 1px solid white;
  transform: scale(1.1);
}

.row-pro {
  margin-top: 35px;
}

@media (max-width: 576px) {
  #sec4 {
    height: 280vh;
  }
}

@media (max-width: 576px) {
  .colm-pro {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
}

.fa.fa-heart.icon-pro {
  color: red;
}

.footer-pro {
  margin-bottom: 15px;
}

.social-ico-pro {
  transition: 0.5s;
}

.social-ico-pro:hover {
  transform: scale(1.1);
  color: #2a9d8f;
}

@media (max-width: 590px) {
  .card-sec4 {
    padding-top: 150px;
  }
}

@media (max-width: 590px) {
  .sec3-skill {
    height: 120vh;
  }
}

